/node_modules/
/chromium-snapshots/
/firefox-snapshots/
/coverage/
benchmark/*.txt
benchmark/benchmark_results.json
benchmark/temp_results.json
benchmark/historicalData/historical_data.json
/build/docs/
/build/
/dist/
.DS_Store

